
/* CUSTOM RESETS
================================================== */
a {
    transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
}

a:focus,
a:hover {
    outline: 0 none;
    text-decoration: none;
}

h4 {
    font-size: 30px;
}


/* Buttons */ 
.btn {
    width: initial;
    color: #eee;
    padding: 20.8px 48px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    transition: background-color 650ms;
    font-size: 20px;
    text-transform: uppercase;
}

.btn .a{
    color: #fff;
}

.btn-fill {
    color: #fff;
    background-color: #212121;
}

.btn-border {
    background-color: transparent;
    color: #212121;
    border: 1px solid #212121; 
}

.btn-fill:hover,
.btn-fill:focus {
    color: #fff;
    background-color:#e65c55;
}

/* LAYOUT
================================================== */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'quicksand', sans-serif;
    font-size: 18px;
    color: #212121;
}

.img-res {
    display: block;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.visible-xxs {
    display: none;
}

.highlight{
    font-weight: 1000;
    color:#f5f5f5;
}


/* HEADER
================================================== */
.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 5;
}

/* Navigation */
.navbar-nav > li > a {
    padding: 5px 0;
    font-weight: 600;
    color: #212121;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-color 0.25s ease-in-out;
    -moz-transition: border-color 0.25s ease-in-out;
    -webkit-transition: border-color 0.25s ease-in-out;
    -o-transition: border-color 0.25s ease-in-out;
    -ms-transition: border-color 0.25s ease-in-out;
}

.navbar-nav.navbar-left {
    margin-top: 10px;
}
.navbar-nav.navbar-right {
    margin-right: 0;
    margin-top: 10px;
} 


.navbar-nav > li + li > a {
    margin-left: 40px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li.active > a,
.nav > li > a:hover,
.nav > li.active > a {
    background-color: transparent;
    border-bottom: 2px solid #212121;
}

.nav > li > a:focus {
    background-color: transparent;
}


.name{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 1000;
}

.job-title {
    font-size: 22px;
    /* margin: 20px; */
    line-height: 1;
} 

.terminal{
    margin: 30px 0px;
    width: 70%;
    text-align: left;
    margin-left:auto;
    margin-right:auto;
    animation: 0.8s ease-out 0s 1 slideInFromLeft;
    
    border-radius: 12.8px;
    background-color: rgba(0,0,0,0.07);
    position: relative;
    padding: 20px;
    line-height: 1.6;
}

.big{
    text-align: center;
    font-size: 30px;
    font-weight: 1000;
}

.profile-img{
    display: inline-block;
    border-radius: 50%;
    width: 130px !important;
    border: 5px solid white;
    margin-bottom: 10px;
}
.profile-img{
    flex: 1;
}

/* SITEMAIN
================================================== */
.site-main {
    position: relative;
    /* background: url(../img/background-pattern.png) center / cover;  */
    background-repeat: repeat;
    background-color:#b7d2e0;
    z-index: 1;
}
/* site-section */
.site-section {
   padding-top: 30px;
}

.site-section h2,
.site-section h3 {
    font-size: 36px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

/* .progress {
    height: 15px;
    margin-bottom: 0;
    border-radius: 0;
    background-color: #dfdfdf;
    box-shadow: none;
} */

/* .progress-bar {
    background-color: #212121;  
} */
.section-about{
    list-style: none;
}

.section-works .container {
    width: 100%;
    padding: 30px 100px;
    position: relative;
    background-color: #dddddd;
    /* background-color:#e4dccc; */
    /* background-color:#b7d2e0; */
    z-index: 1;
}

/* timeline*/

.timeline ul{
    border-left: 4px solid grey;
    border-radius: 12.8px;
    background-color: rgba(0,0,0,0.05);
    margin: 0 auto;
    position: relative;
    padding: 80px;
    list-style: none;
    text-align: left;
    width: 80%;
    line-height: 1.6;
}

.timeline li{
    margin-bottom: 60px;
}

.timeline h1{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(70, 34, 34, 0.3);
}

.timeline p{
    width: 100%;
}


.timeline .date{
    position: relative;
}

.timeline .date::before,.timeline .date::after{
    position: absolute;
    display: block;
    transform: translateY(-50%);
}

.timeline .date::before{
    content: attr(data-date);
    left: -304px;
    text-align: right;
    min-width: 192px;
    font-size: 16px;
    color: #4b5668;
}

.timeline .date:after{
    top: 0px;
    content: '';
    box-shadow: 0 0 0 4px pink;
    border-radius: 100%;
    left: -96px;
    height: 24px;
    width: 24px;
    background: #fb9190;
}


/* Section: Portfolio */
.section-portfolio {
    padding-bottom: 400px;
    background-color: #d89898;
}

.portfolio-item {
    height: 280px;
    margin-bottom: 70px;
    position: relative;
}

.col-3{
    float: left;
}

.portfolio-item:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    border-radius: 30px;
}

.portfolio-item:hover:before{
    background-color: rgba(33,33,33,0.6);
    border-radius: 30px;
}

.portfolio-item-info {
    font-size: 20px;
    position: absolute;
    top: 30px;
    /* bottom: 50px; */
    z-index: 999;
    opacity: 0;
    transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
}

.portfolio-item:hover .portfolio-item-info {
    left: 15px;
    opacity: 1;
}

.portfolio-item-lang{
    padding: 6px 7px 4px;
    font-size: 16px;
    border: 1px solid #83d0c9;
    border-radius: 50px;
    margin: 10px;
    color:#83d0c9;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out; 
}

.portfolio-item-tech{
    padding: 6px 7px 4px;
    font-size: 16px;
    border: 1px solid #f2cc8c;
    border-radius: 50px;
    margin: 10px;
    color: #f2cc8c;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out; 
}
.portfolio-item-link {
    padding: 6px 7px 4px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 50px;
    margin: 10px;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out; 
}

.portfolio-item-info a{
    color: #fff;
}

.portfolio-item-detail h4 {
    margin: 0 0 20px;
    font-weight: 700;
}
.portfolio-item-detail{
    padding-top: 30px;
}

.section-portfolio .btn {
    margin-top: 10px;
}


/* CONTACT
================================================== */
.section-contact {
    color:white;
    background-color:#2e536d;
}
.section-contact .btn{
    margin: 50px;
    background-color: #e65c55;
}


.section-contact button{
    margin: 50px;
    width: initial;
    background-color:#e65c55;
    color: #eee;
    padding: 24px 80px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    transition: background-color 600ms;
    font-size: 20px;
}

.section-contact .btn:hover{
    background-color:#ce3635;
}

/* FOOTER
================================================== */

.icon {
    line-height: 40px;
    padding: 9px 11px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}

.icon + .icon {
    margin-left: 5px;
}

.icon i:before {
    margin:0;
}

.icon:hover {
    background-color: #fff;
}


.copyright {
    /* position: fixed; */
    border: 1px solid #4c5465;  /*a hacky way of ensuring this is stuck to bottom of page*/
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    background-color: #4c5465;
    color: #fff;
}

@keyframes slideInFromLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}